@model ShopTARge22.Models.RealEstates.RealEstateImageViewModel

<div class="form-group row col-sm-4-offset-2">
    <div>@Model.ImageTitle</div>
    <span class="image" alt>
    <img src="@Model.Image" asp-append-version="true" />
    </span>
</div>